*{
    margin: 0;
    padding: 0%;
    border: border-box;
}
a{
    display: inline-block;
}
.hero{
    background: url("img/jumbo.png") center;
    background-size: cover;
}
.main-header{
    height: 8rem;
    padding: 0 2.4rem;
}
.container{
    margin: 0 auto;
}
.main-nav{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-list{
    color: white;
}
.login-button{
    display:flex;
}
.light{
    font-size: 1rem;
    padding: 0.7rem 1.6rem;
    border-radius: 4rem;
    background-color: white;
}
.row{
    display: flex;
    align-items: center;
}
ul li{
    list-style:none;
}
.row-container{
    display: flex;
    align-items: center;
}