*{
    margin: 0;
    padding: 0%;
    border: border-box;
}
a{
    display: inline-block;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: url("img/jumbo.png") center;
    background-size: cover;
    height: 26rem;
}
nav.main-nav{
    width: 70%;
    height: 5rem;
    display: flex;
    margin: 0.5rem 0 3rem 0;
    justify-content: space-between;
    align-items: center;
}
ul li{
    display: inline;
    
}
.main-header{
    width: 50%;
    height: 20rem;
    margin-bottom: 4rem;
}
section.box-section{
    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.box{
    width: 70%;
    height: 25rem;
    display: flex;
}
img.box-img{
    width: 65%;
    height: 100%;
}
p.box-text{
    width: 35%;
    height: 100%;
}
section.last-box-section{
    width: 100%;
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.last-box-box{
    width: 70%;
    height: 30rem;
    display: flex;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #2C3E50;
    background-size: cover;
}
section.main-footer{
    width: 70%;
    height: 25rem;
    display: flex;

}
hr{
    width: 70%;
    height: .5px;
    background-color: aquamarine;
}
section.end-footer{
    width: 70%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}